@charset "UTF-8";

.m-b-xs {
  margin-bottom: 2%;
}

.m-b-md {
  margin-bottom: 10%;
}

.m-t-xs {
  margin-top: 2%;
}

.m-t-sm {
  margin-top: 5%;
}


h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2em;
  font-weight: 300;
  color: #005eb8;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: black;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.topbar{
    background-color: #396afc; 
    backdrop-filter: blur(20px);
    padding: 2%;
}

#survey-form {
  border: 0px !important;
  outline: 0 !important;
  color: transparent;
  border-color: transparent;
  outline: 0 !important;
  color: transparent;
  border: 0px transparent;
  position: relative;
  padding: 2% 0;
  background-color: white;
  max-width: 100vh;
  vertical-align: middle;
  margin: 0 auto;
}

#survey-form .country {
    margin-bottom: 15px;

  }

#survey-form .address {
  padding-top: 15px;
  margin-bottom: 20px;
}

#survey-form label,
#survey-form .labels {
  display: block;
  margin-bottom: 2%;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: black;
  letter-spacing: 0.5px;
}
#survey-form input::-webkit-input-placeholder {
  color: black !important;
}
#survey-form input::-moz-placeholder {
  color: black !important;
}
#survey-form input:-ms-input-placeholder {
  color: black !important;
}
#survey-form input:-moz-placeholder {
  color: black !important;
}
#survey-form input,
#survey-form select {
  display: block;
  width: 100%;
  overflow: hidden;
  border: 2px solid #005eb8;
}
#survey-form input {
  margin-top: 1.5%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  font-size: 1.1em;
  font-weight: 300;
  color: black;
}
#survey-form input:focus {
  border-color: #005eb8;
}
#survey-form [type="checkbox"],
#survey-form [type="radio"] {
  display: inline-block;
  width: auto;
  margin: 0px 10px 0 0;
}
#survey-form [type="checkbox"],
#survey-form [type="radio"] {
  display: inline-block;
  margin: 0 10px 0 0 !important;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 23px;
  width: 23px;
  transition: all 0.15s ease-out 0s;
  background: white;
  color: black;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  border: 1px solid black;
}
#survey-form [type="checkbox"]:hover,
#survey-form [type="radio"]:hover {
  border-color: #005eb8;
}
#survey-form [type="checkbox"]:checked:before,
#survey-form [type="radio"]:checked:before {
  display: inline-block;
  height: 21px;
  width: 21px;
  position: relative;
  left: 0;
  bottom: 0;
  content: "✔";
  text-align: center;
  font-family: "Glyphicons Halflings";
  line-height: 20px;
  font-size: 15px;
  color: black;
}
#survey-form [type="checkbox"]:focus,
#survey-form [type="radio"]:focus {
  outline: none;
  border-color: black;
}
#survey-form [type="radio"] {
  border-radius: 50%;
}
#survey-form [type="radio"]:after {
  border-radius: 50%;
}
#survey-form [type="number"] {
  width: 45px;
}
#survey-form [type="number"]::-webkit-inner-spin-button,
#survey-form [type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
#survey-form select {
  height: 40px;
  padding-left: 0px;
  background-color: white;
  border: 2px solid black;
  color: black;
}
#survey-form select option {
  font-weight: 300;
  cursor: pointer;
  color: black;
}
#survey-form select option:hover {
  background-color: #005eb8;
}
#survey-form textarea {
  resize: none;
  width: 100%;
  height: 90px;
  color: black;
  background-color: white;
  border: 2px solid black;
}
#survey-form .btn {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 3% 0 0 0;
  height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #005eb8;
  border-radius: 0;
  font-weight: 500;
  font-size: 1.2em;
  color: #005eb8;
  text-align: center;
  background: none;
  transition: color 0.25s ease;
}
#survey-form .btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #005eb8;
  transform-origin: left;
  transition: width 0.5s ease;
  z-index: -1;
}

#survey-form [type="tel"] {
  padding-left: 50px;
}

#survey-form .btn:hover {
  color: #37404a;
}
#survey-form .btn:hover:after {
  width: 100%;
}
#survey-form .btn:hover {
  color: black;
}
#survey-form .btn:hover:after {
  width: 100%;
}
#survey-form fieldset {
  margin: 5% 0 0 0;
}

